<%= form_with url: properties_path, method: :get do %>
    <div class="flex">
        <%= select_tag :filter, options_for_select(Property.beds), 
         class:"flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium
        text-center text-gray-900 bg-gray-100 border border-gray-300 rounded-l-lg dark:bg-gray-700 dark:border-l-gray-700
         dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500", prompt:"Beds" %>
        <%= text_field_tag :query,
        params[:query],
        id: "search-dropdown",
        class: "block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-20 rounded-r-lg border-l-gray-50 border-l-2 border focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-400 dark:border-gray-300 dark:placeholder-gray-700 dark:text-dark dark:focus:border-blue-500",
        placeholder: "Find a property"
        %>
        <%= button_tag type="submit",class:"flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium
        text-center text-gray-900 bg-gray-100 border border-gray-300 rounded-l-lg dark:bg-gray-700 dark:border-l-gray-700
         dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500" do %>
            <span>Search</span>
        <% end %>
    </div>
<% end %>

