<div class="h-48">
    <%= image_tag("house1", class:"object-cover max-h-72 w-full")%>
</div>
<div class="flex flex-wrap container mx-auto justify-center items-center items-stretch h-fit" >
    <a href="#" class="block m-6 p-6 max-w-xs bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Top areas to rent villas in Dubai based on square footage</h5>
        <p class="font-normal text-gray-700 dark:text-gray-400">Want to move to villa that is the perfect size for your family? Here are the best areas to rent villas in Dubai based on square footage.</p>
    </a>
    <a href="#" class="block m-6 p-6  max-w-xs bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Property for sale in Portugal with sea views</h5>
        <p class="font-normal text-gray-700 dark:text-gray-400">Check out our selection of real estate in Portugal with sea views now for sale.</p>
    </a>
    <a href="#" class="block m-6 p-6 max-w-xs bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">New ultra-luxury housing project in Marbella with prices starting at 2.8 million euros</h5>
        <p class="font-normal text-gray-700 dark:text-gray-400">The Roel Homes development group is to invest 70 million euros in the construction of 33 luxury villas in the Palo Alto area of Marbella.</p>
    </a>
    <a href="#" class="block m-6 p-6 max-w-xs bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Significant real estate repricing is coming</h5>
        <p class="font-normal text-gray-700 dark:text-gray-400">Real estate stocks have signalled that significant repricing is coming and the market has three big challenges ahead:</p>
    </a>

    <a href="#" class="block m-6 p-6 max-w-xs bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Looking for a New Place? Use This Time to Create Your Wishlist</h5>
        <p class="font-normal text-gray-700 dark:text-gray-400">If your move is delayed, evaluate the features of your current home so you know just what you want in your next one.</p>
    </a>
    <a href="#" class="block m-6 p-6 max-w-xs bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">How to Install a Kitchen Faucet</h5>
        <p class="font-normal text-gray-700 dark:text-gray-400">Tired of staring at your old faucet? Installing a new one is easy! (No, really.)</p>
    </a>

</div>
<div class="h-48"></div>
